<!--
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 3
Author: Group 21
-->

<!-- Footer -->


<footer class="py-2 my-5 bg-body-secondary" class="mt-auto">
  <ul class="nav justify-content-center border-bottom pb-2 mb-2">
    <li class="nav-item"><a href="#" class="nav-link px-3 text-body-secondary">About</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-3 text-body-secondary">Copyright</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-3 text-body-secondary">Privacy</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-3 text-body-secondary">Help</a></li>
  </ul>
  <p class="text-center justify-content-center text-body-secondary">© 2023 Rainforest</p>
</footer>
<!-- Import Boostrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>