<!--
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 3
Author: Group 21
-->

<!DOCTYPE html>
<html lang="en" class="h-100">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <title>Rainforest</title>

    <!-- Import Boostrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>

  <body class="d-flex flex-column h-100">
    <header class="bg-body-secondary">
      <nav class="navbar navbar-expand-lg bg-body-secondary">
        <div class="container-fluid">
          <a href="/" class="d-flex align-items-center me-5 mb-2 mb-lg-0">
            <img src="/images/logo-horizontal.png" height="45">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item"><a href="/" class="nav-link px-3 text-dark">Home</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-3 text-dark">Smartphone</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-3 text-dark">Laptop</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-3 text-dark">Accessories</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-3 text-dark">My Account</a></li>
            </ul>
          </div>
          <div class="text-end"> <a href="/login"><button type="button"
                class="btn btn-outline-dark me-2">Login</button></a>
          </div>
          <div class="text-end"> <a href="/register"><button type="button" class="btn btn-success me-2">Sign
                Up</button></a>
          </div>
        </div>
      </nav>
    </header>