<%# 
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 3
Author: Group 21
Acknowledgement: Bing AI
 %>

<%- include('partials/header') %>

<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col text-center my-3 py-3">
                    <h1>About</h1>
                </div>
            </div>
        </div>
        <div class="container mb-5 bg-body-tertiary rounded footer-pages-center w-75">
            <div class="row px-5">
                <div class="col mt-4 px-5 pb-1 pt-2 ">
                    <p>
                        Rainforest is an e-commerce website that sells tech products from various brands and categories.
                        Whether you are looking for laptops, smartphones, tablets, smartwatches, headphones, cameras, or
                        any other gadgets, you can find them all at Rainforest.
                    </p>
                </div>
            </div>
            <div class="row px-5">
                <div class="col px-5 py-1">
                    <p>
                        Rainforest offers you a wide range of products to choose from, with competitive prices, fast
                        delivery, and excellent customer service. You can also read reviews from other customers,
                        compare products, and get recommendations based on your preferences.

                    </p>
                </div>
            </div>
            <div class="row px-5">
                <div class="col px-5 py-1">
                    <p>
                        Rainforest is more than just a website. It is a community of tech enthusiasts who share their
                        passion and knowledge with each other. You can join the Rainforest forum, where you can ask
                        questions, give feedback, and discuss the latest trends and innovations in the tech world. You
                        can also follow Rainforest on social media, where you can get updates, tips, and exclusive
                        deals.

                    </p>
                </div>
            </div>
            <div class="row px-5">
                <div class="col mb-4 px-5 py-1">
                    <p>
                        Rainforest is your one-stop destination for all your tech needs. Shop now and discover the best
                        products for you. Rainforest: the ultimate tech store.
                    </p>
                </div>
            </div>
        </div>
    </section>

</main>
<%- include('partials/footer.ejs') %>