<%# 
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 3
Author: Group 21
Acknowledgement: Bing AI
 %>

<%- include('partials/header') %>
<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col text-center my-3 py-3">
                    <h1>Copyright</h1>
                </div>
            </div>
        </div>
        <div class="container bg-body-secondary footer-pages-center w-75">
            <div class="row">

                <div class="col text-center mt-4 py-2">
                    <h6>&copy; Rainforest, Inc. or its affiliates. All rights reserved.</h6>
                </div>
            </div>
            <div class="row px-5">
                <div class="col px-5 py-1">
                    <p>Rainforest, the Rainforest logo, and other Rainforest marks are trademarks of Rainforest, Inc. or
                        its affiliates in Vietnam and other countries.</p>
                </div>
            </div>
            <div class="row px-5">
                <div class="col px-5 py-1">
                    <p>
                        The products and services offered on this website are provided by third-party sellers,
                        manufacturers, or service providers. Rainforest is not responsible for the quality, accuracy,
                        reliability, or legality of any product or service offered on this website. Rainforest does not
                        endorse or guarantee any product or service offered on this website.
                    </p>
                </div>
            </div>
            <div class="row px-5">
                <div class="col px-5 py-1">
                    <p>
                        The content on this website, including but not limited to text, graphics, images, videos, audio,
                        software, code, and links, is the property of Rainforest or its content providers and is
                        protected by international copyright laws. You may not copy, reproduce, distribute, modify,
                        display, perform, publish, transmit, or create derivative works from any content on this website
                        without the prior written permission of Rainforest or its content providers.
                    </p>
                </div>
            </div>
            <div class="row px-5">
                <div class="col px-5 py-1">
                    <p>
                        The use of this website is subject to the Terms of Use and Privacy Policy, which you can access
                        by clicking on the links at the bottom of this page. By using this website, you agree to abide
                        by these terms and policies. If you do not agree to these terms and policies, please do not use
                        this website.

                    </p>
                </div>
            </div>
            <div class="row px-5">
                <div class="col px-5 py-1 mb-4">
                    <p>
                        If you have any questions, comments, or concerns about this website, please contact us at
                        support@rainforest.com. We appreciate your feedback and suggestions. Thank you for choosing
                        Rainforest.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include('partials/footer') %>