<!--
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 3
Author: Group 21
-->

<%- include('partials/header.ejs') %>

<main class="d-flex justify-content-center">
  <div class="col-8">
    <h1>Create Account</h1>
    <form action="/vendor-new" method="POST">
      <label for="username">Name:</label>
      <input type="text" name="username" class="form-control" placeholder="Username" required><br>

      <label for="password">Password: (Must contains at least one upper case letter, at least one lower case letter, at
        least one digit, at least one special letter in the set !@#$%^&*)</label>
      <input type="password" name="password" class="form-control" placeholder="Password" required><br>

      <label for="Business_name">Business name:</label>
      <input type="text" name="Business_name" class="form-control" placeholder="Business name" required></input><br>


      <label for="Business_address">Business address:</label>
      <input type="text" name="Business_address" class="form-control" placeholder="Business address" required><br>

      <label for="profile_picture">Upload Profile picture</label>
      <input type="file" id="image" name="image" value="profile_picture" required />

      <input class="btn btn-success w-100 py-2" type="submit" value="Create">
    </form>
  </div>
</main>

<%- include('partials/footer.ejs') %>