<!--
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 3
Author: Group 21
-->

<%- include('partials/logged-in-header') %>

<main>
  <div>
    <a href="/cart"><button type="button" class="btn btn-success">View cart</button></a>
  </div>




</main>



<%- include('partials/footer.ejs') %>