<!--
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 3
Author: Group 21
-->
<%- include('partials/header.ejs') %>

<main>
  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Login</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">

        <h3 class="fs-2 text-body-emphasis">Customer</h3>
        <a href="/customer-login" class="icon-link">
          Login as a Customer
          <svg class="bi">
            <use xlink:href="#chevron-right"></use>
          </svg>
        </a>
      </div>
      <div class="feature col">

        <h3 class="fs-2 text-body-emphasis">Vendor</h3>
        <a href="/vendor-login" class="icon-link">
          Login as a Vendor
          <svg class="bi">
            <use xlink:href="#chevron-right"></use>
          </svg>
        </a>
      </div>
      <div class="feature col">

        <h3 class="fs-2 text-body-emphasis">Shipper</h3>
        <a href="shipper-login" class="icon-link">
          Login as a Shipper
          <svg class="bi">
            <use xlink:href="#chevron-right"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer.ejs') %>