<!--
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 3
Author: Group 21
-->
<%- include('partials/header.ejs') %>

<main class="d-flex justify-content-center">
    <div width="280px">
        <form action="/shipper-login" method="POST">
            <h1 class="h3 my-3 fw-normal">Please sign in</h1>

            <input type="text" class="form-control my-3" name="username" placeholder="username">
            <input type="password" name="password" class="form-control my-3" placeholder="password">
            <button class="btn btn-success w-100 my-2">Login</button>
        </form>
    </div>
</main>

<%- include('partials/footer.ejs') %>