<!--
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 3
Author: Group 21
-->
<%- include('partials/logged-in-header.ejs') %>

<main>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb py-2 my-3">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Products</li>
      </ol>
    </nav>
  </div>

  <div id="add-product-form" class="container">
    <div class="row my-4 py-4">
      <div class="col">
        <h2>Add New Product</h2>
      </div>
    </div>
    <form name="add-product-form" action="/product" method="post">
      <div class="row my-3">
        <div class="col-lg-6 col-md-12 my-1">
          <label for="name">Product Name</label>
        </div>
        <div class="col-lg-6 col-md-12 my-1">
          <input type="text" name="name" id="product-name" class="form-control w-100" required>
        </div>
      </div>

      <div class="row my-3">
        <div class="col-lg-6 col-md-12 my-1">
          <label for="price">Price</label>
        </div>
        <div class="col-lg-6 col-md-12 my-1">
          <input type="number" name="price" id="product-price" class="form-control w-100" required>
        </div>
      </div>

      <div class="row my-3">
        <div class="col-lg-6 col-md-12 my-1">
          <label for="price">Category</label>
        </div>
        <div class="col-lg-6 col-md-12 my-1">
          <select name="category" autocomplete="off" id="product-category" class="form-select w-100" required>
            <option value="Smartphone">Smartphone</option>
            <option value="Laptop">Laptop</option>
            <option value="Accessories">Accessories</option>
          </select>
        </div>
      </div>

      <div class="row my-3">
        <div class="col-lg-6 col-md-12 my-1">
          <label for="product-image">Image</label>
        </div>
        <div class="col-lg-6 col-md-12 my-1">
          <input type="file" name="image" id="product-image" class="form-control w-100">
        </div>
      </div>

      <div class="row my-3">
        <div class="col-lg-6 col-md-12 my-1">
          <label for="description">Product Description</label>
        </div>
        <div class="col-lg-6 col-md-12 my-1">
          <textarea name="description" id="product-description" rows="5" class="form-control w-100" required
            placeholder="Max. 500 characters"></textarea>
        </div>
      </div>
      <div class="row py-2 my-3">
        <div class="col-3 mx-auto">
          <input type="submit" value="Submit" class="form-control btn btn-success">
        </div>
      </div>
    </form>
  </div>
</main>

<%- include('partials/footer.ejs') %>